name: bd2
services:
  database:
    image: postgres:18
    environment:
      POSTGRES_DB: bd2
      POSTGRES_USER: bd2
      POSTGRES_PASSWORD: passwordSicura
      PGDATA: /var/dbdata
    ports:
    - 5432:5432
    volumes:
    - db_data:/var/dbdata
    - ./db/init:/docker-entrypoint-initdb.d

volumes:
  db_data:
